/*==全局样式==*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

div,
dl,
dt,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
ul,
li,
table,
th,
td,
p,
span,
a {
    border: 0;
}

img,
input {
    border: none;
    vertical-align: middle;
}

body {
    font-family: Tahoma, Arial, Helvetica, "微软雅黑";
    font-size: 12px;
    text-align: left;
    background: #FFF;
    color: #333;
}

html {
    overflow-y: scroll;
}

ul,
ol {
    list-style-type: none;
}

th,
td,
input {
    font-size: 12px;
}

h3 {
    font-size: 14px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
}

select {
    border-width: 1px;
    _zoom: 1;
    border-style: solid;
    padding-top: 2px;
    font-size: 12px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f60;
}
:focus {
    outline: none;
}

/* Chrome 滚动条优化 */
* {
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 8px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 8px;
        background-color: hsla(220, 4%, 58%, .3);
        transition: background-color .3s;

        &:hover {
            background: #bbb;
        }
    }

    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        background: #EDEDED;
    }
}
/* [theme] support theme change */
.theme-bg-blue{
    background-color: #409eff;
}
.page-sub-main {
    min-height: calc(100% - 40px);
}
.zZindex{
    z-index: 8001!important;
}
//element样式重置
.el-message-box__wrapper{
    z-index: 8000!important;
}
.el-card{
    margin-bottom: 10px;
}
.el-card__body{
    padding:0 20px;
}
.el-form-item{
    margin-bottom:20px;
}
.el-form-item__label{
    padding:0;
}
.el-breadcrumb{
    margin-bottom:10px;
}
.el-form{
    padding-top: 20px;
}

.el-dialog{
    width:auto!important;
    max-width: 50%;
}
.el-dialog__body{
    padding:10px 20px;
}
.el-drawer__header{
    font-size: 18px;
    margin-bottom:5px;
    background-color: #409EFF;
    color: #fff;
    padding:0 20px;
    line-height: 40px;
}
.ql-editor{
    min-height: 300px;
}
.el-drawer__body{
    overflow-y: auto;
    padding-bottom: 30px;
}
.el-input--suffix .el-input__inner{
    padding-right: 20px!important;
}
.el-drawer__body .el-radio{
    margin-right: 67px;
}
.el-drawer__body  .el-radio:last-child{
    margin-right: 0;
}
// 公共输入框长度
.search-input{
    width: 180px!important;
    margin-right: 15px;
}
.input-middle{
    width: 80%!important;
}
.input-samll{
    width: 100px!important;
}
.pagination{
    padding:10px 0;
}
.tips{
    font-size: 12px;
    color:#bbb;
    line-height: 24px;
}